*.vscode
*.h
*.cache
./bin/Debug/*
./bin/*
./obj/Debug/*
./
Content/obj/DesktopGL/Content/.mgcontent
bin/Debug/netcoreapp3.1/MonoGame.Framework.dll
bin/Debug/netcoreapp3.1/MyGame.deps.json
bin/Debug/netcoreapp3.1/MyGame.dll
bin/Debug/netcoreapp3.1/MyGame.exe
bin/Debug/netcoreapp3.1/MyGame.pdb
bin/Debug/netcoreapp3.1/MyGame.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/MyGame.runtimeconfig.json
bin/Debug/netcoreapp3.1/Content/font.xnb
bin/Debug/netcoreapp3.1/Content/pixelFont.ttf
bin/Debug/netcoreapp3.1/Content/sprite.xnb
bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libopenal.so.1
bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libSDL2-2.0.so.0
bin/Debug/netcoreapp3.1/runtimes/osx/native/libopenal.1.dylib
bin/Debug/netcoreapp3.1/runtimes/osx/native/libSDL2-2.0.0.dylib
bin/Debug/netcoreapp3.1/runtimes/win-x64/native/SDL2.dll
bin/Debug/netcoreapp3.1/runtimes/win-x64/native/soft_oal.dll
bin/Debug/netcoreapp3.1/runtimes/win-x86/native/SDL2.dll
bin/Debug/netcoreapp3.1/runtimes/win-x86/native/soft_oal.dll
Content/obj/DesktopGL/Content/.mgstats
Content/obj/DesktopGL/Content/font.mgcontent
Content/obj/DesktopGL/Content/sprite.mgcontent
obj/MyGame.csproj.nuget.dgspec.json
obj/project.assets.json
obj/Debug/netcoreapp3.1/apphost.exe
obj/Debug/netcoreapp3.1/MyGame.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/MyGame.dll
obj/Debug/netcoreapp3.1/MyGame.pdb
